/**
 * login css for user sso (esudian.com)
 */
body {
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #848484;
    background-color: #f0f0f0;
}

body.bd-style {
    background: #ffffff url(../images/login_bg.png) repeat;
}

.login-form {
    padding: 30px;
    margin-top: 4em;
    -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

@media screen and (max-width: 768px) {
    .login-form {
        padding: 15px;
    }
}

.login-form h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0 0 30px 0;
    color: #000000;
}

.login-form .form-group {
    margin-bottom: 30px;
}

.login-form .form-group p {
    font-size: 14px;
    color: #9f9f9f;
    font-weight: 300;
}

.login-form .form-group p a {
    color: #000000;
}

.login-form label {
    font-weight: 300;
    font-size: 14px;
    font-weight: 300;
}

.login-form .form-control {
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.login-form .form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.login-form .form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.login-form .form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.login-form .form-control:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.login-form .form-control:focus, .login-form .form-control:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.btn-primary {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    background: #33cccc;
    color: #ffffff;
    -webkit-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
    -moz-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
    -o-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
    box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #ffffff;
    background: #47d1d1 !important;
    outline: none;
}

a {
    color: #33cccc;
}

input, textarea {
    color: #000;
}

.placeholder {
    color: #aaa;
}
